.cards {
  &__conteiner {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 358px 303px;
    grid-template-areas:
      "spot  derivatives arena"
      "spot mobile mobile";
    gap: 30px;
    padding: 90px 0 160px 0;
  }

  .card {
    cursor: pointer;
    overflow: hidden;
    border: 2px solid #4f5667;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 46px;
    background: linear-gradient(
      150deg,
      rgba(14, 15, 20, 1) 0%,
      rgba(10, 10, 13, 1) 50%,
      rgba(24, 24, 25, 1) 100%
    );

    &__text {
      padding: 37px 15px 37px 30px;
      display: flex;
      flex-direction: column;
      justify-content: inherit;
      height: 100%;
      &-description {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #aaaaaa;
      }
      &-title {
        font-size: 30px;
        line-height: 43px;
        letter-spacing: 0.02em;
      }
    }
    &__link {
      position: relative;
    }
    &:nth-child(1) {
      background: url("../images/main/cards/Pattern1.svg") top left no-repeat,
        linear-gradient(
          150deg,
          rgba(14, 15, 20, 1) 0%,
          rgba(10, 10, 13, 1) 50%,
          rgba(24, 24, 25, 1) 100%
        );
      grid-area: spot;

      .card__text {
        gap: 60px;
        justify-content: flex-end;
        &-title {
          span {
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            letter-spacing: 0.02em;
            background: linear-gradient(
              89.95deg,
              #487fff -1.65%,
              #73b5ff 51.06%,
              #cb76ff 99.96%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          font-size: 40px;
          line-height: 120%;
          letter-spacing: 0.02em;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &:nth-child(2) {
      grid-area: derivatives;
    }
    &:nth-child(3) {
      grid-area: arena;
    }
    &:nth-child(4) {
      background: url("../images/main/cards/Pattern2.svg") top right no-repeat,
        linear-gradient(
          150deg,
          rgba(14, 15, 20, 1) 0%,
          rgba(10, 10, 13, 1) 50%,
          rgba(24, 24, 25, 1) 100%
        );

      grid-area: mobile;
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 1024px) {
    &__conteiner {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "spot  spot"
        "derivatives arena"
        "mobile  mobile";
    }
    .card {
      &:nth-child(1) {
        justify-content: space-between;
        background-position: top right;
        background-size: contain;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__conteiner {
      padding-bottom: 50px;
      grid-template-columns: 1fr;
      grid-template-rows: 476px 305px 305px 426px;
      grid-template-areas:
        "spot"
        "derivatives "
        "arena"
        "mobile";
    }
    .card {
      &:nth-child(1) {
        background: url("../images/main/cards/Pattern1_Mob.svg") 100% 100%
            no-repeat,
          linear-gradient(
            150deg,
            rgba(14, 15, 20, 1) 0%,
            rgba(10, 10, 13, 1) 50%,
            rgba(24, 24, 25, 1) 100%
          );
        .card__text {
          gap: 25px;
          justify-content: flex-start;
        }
      }
      &:nth-child(4) {
        .card__text {
          gap: 40px;
          justify-content: flex-start;
        }
        background-position: 100% 104%;
      }
    }
  }
}
