.cards__conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 2fr;
      grid-template-columns: 3fr 2fr 2fr;
  -ms-grid-rows: 358px 303px;
      grid-template-rows: 358px 303px;
      grid-template-areas: "spot  derivatives arena" "spot mobile mobile";
  gap: 30px;
  padding: 90px 0 160px 0;
}

.cards .card {
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #4f5667;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 46px;
  background: linear-gradient(150deg, #0e0f14 0%, #0a0a0d 50%, #181819 100%);
}

.cards .card__text {
  padding: 37px 15px 37px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  height: 100%;
}

.cards .card__text-description {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.cards .card__text-title {
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.02em;
}

.cards .card__link {
  position: relative;
}

.cards .card:nth-child(1) {
  background: url("../images/main/cards/Pattern1.svg") top left no-repeat, linear-gradient(150deg, #0e0f14 0%, #0a0a0d 50%, #181819 100%);
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: spot;
}

.cards .card:nth-child(1) .card__text {
  gap: 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cards .card:nth-child(1) .card__text-title {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.cards .card:nth-child(1) .card__text-title span {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  background: linear-gradient(89.95deg, #487fff -1.65%, #73b5ff 51.06%, #cb76ff 99.96%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards .card:nth-child(2), .cards .card:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.cards .card:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: derivatives;
}

.cards .card:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: arena;
}

.cards .card:nth-child(4) {
  background: url("../images/main/cards/Pattern2.svg") top right no-repeat, linear-gradient(150deg, #0e0f14 0%, #0a0a0d 50%, #181819 100%);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: mobile;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .cards__conteiner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "spot  spot" "derivatives arena" "mobile  mobile";
  }
  .cards .card:nth-child(1) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: top right;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .cards__conteiner {
    padding-bottom: 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 476px 305px 305px 426px;
        grid-template-rows: 476px 305px 305px 426px;
        grid-template-areas: "spot" "derivatives " "arena" "mobile";
  }
  .cards .card:nth-child(1) {
    background: url("../images/main/cards/Pattern1_Mob.svg") 100% 100% no-repeat, linear-gradient(150deg, #0e0f14 0%, #0a0a0d 50%, #181819 100%);
  }
  .cards .card:nth-child(1) .card__text {
    gap: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .cards .card:nth-child(4) {
    background-position: 100% 104%;
  }
  .cards .card:nth-child(4) .card__text {
    gap: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=cards.css.map */