@import "scss-reset/_reset.scss";
@import "./variables";
body {
  background: #000;
}
.App {
  background: linear-gradient(178deg, rgb(10, 10, 10) 0%, rgb(2, 2, 2) 96%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  max-width: 1820px;
  margin: 0 auto;
}
.main__container {
  margin-top: -1px;
  background: url("../images/main/background/bgEllipseLine4.svg") right
      no-repeat,
    url("../images/main/background/bgEllipseLine3.svg") right no-repeat,
    url("../images/main/background/bgEllipseLine2.svg") right no-repeat,
    url("../images/main/background/bgEllipseLine1.svg") right no-repeat;
  @media screen and (max-width: $screen__laptop) {
    background: url("../images/main/background/bgEllipseLine4.svg") right
        no-repeat,
      url("../images/main/background/bgEllipseLine3.svg") right no-repeat;
  }
  @media screen and (max-width: $screen__phone) {
    background: url("../images/main/background/bgEllipseLine3.svg") 0 0px
        no-repeat,
      url("../images/main/background/bgEllipseLine2.svg") 300px 200px no-repeat;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: $screen__laptop) {
    width: 90%;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}
