.future {
  padding: 90px 0 130px 0;
}

.future__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.future__text {
  max-width: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
}

.future__text-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.future__text-title span:nth-child(1) {
  color: #aaaaaa;
}

.future__text-title span:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, #4b83ff), color-stop(50%, #6aaaff), to(#c67aff));
  background: linear-gradient(90deg, #4b83ff 3%, #6aaaff 50%, #c67aff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.future__text p {
  font-size: 18px;
  line-height: 150%;
}

.future__text p:nth-child(3) {
  font-size: 15px;
  line-height: 150%;
  color: #7b93ff;
}

.future .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 34px;
}

.future .table__item {
  width: 162px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #414656;
  background: #000;
  border-radius: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.future .table__item:hover {
  border: 2px solid linear-gradient(140.6deg, #506ec3 -27.18%, #0c1b6d 126.06%);
}

.future .table__start {
  width: 216px;
  height: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
  border: 2px solid #414656;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(142deg, #0e1126 0%, #141c34 58%, #101117 100%);
  box-shadow: -84px 32px 173px 34px rgba(15, 19, 40, 0.71);
  -webkit-box-shadow: -84px 32px 173px 34px rgba(15, 19, 40, 0.71);
  -moz-box-shadow: -84px 32px 173px 34px rgba(15, 19, 40, 0.71);
  border-radius: 25px;
}

.future .table__start-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.future .table__start-conteiner button:nth-child(1)::after {
  right: -49px;
  width: 47px;
}

.future .table__start button {
  color: #fff;
  position: relative;
}

.future .table__start button::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background: #414656;
  top: calc(50% - 1px);
  right: -29px;
}

.future .table__center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
  gap: 30px;
}

.future .table__center::before {
  content: "";
  position: absolute;
  width: 262px;
  height: 84px;
  border: 2px solid #414656;
  border-right-color: transparent;
  top: calc(50% - 42px);
  left: -14px;
  z-index: 2;
}

.future .table__center button {
  color: #fff;
  position: relative;
  z-index: 3;
}

.future .table__end {
  width: 265px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 76px 30px 80px 30px;
  border-radius: 25px;
  box-shadow: 200px -41px 221px 45px rgba(28, 28, 28, 0.66);
  -webkit-box-shadow: 200px -41px 221px 45px rgba(28, 28, 28, 0.66);
  -moz-box-shadow: 200px -41px 221px 45px rgba(28, 28, 28, 0.66);
  background: linear-gradient(142deg, #0e0f14 0%, #1d1d1d 50%, #151515 100%);
}

.future .table__end p {
  font-size: 14.5px;
  line-height: 138%;
  position: relative;
  margin-bottom: 24px;
}

.future .table__end p::before {
  position: absolute;
  content: url("../images/main/future/Vector.svg");
  top: -74px;
  left: calc(50% - 33px);
}

.future .table__end-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
}

.future .table__end-conteiner button {
  color: #fff;
  position: relative;
}

.future .table__end-conteiner button:nth-child(1)::after {
  left: calc(50% - 18px);
  top: 228px;
}

.future .table__end-conteiner button:nth-child(2)::after {
  left: calc(50% + 8px);
  top: 60px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.future .table__end::after {
  position: absolute;
  content: "Consumers";
  font-size: 16px;
  line-height: 170%;
  bottom: -60px;
}

@media screen and (max-width: 768px) {
  .future .table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .future .table__item {
    width: 130px;
    line-height: 18px;
    height: 58px;
  }
  .future .table__start {
    width: 334px;
    height: 180px;
    padding: 20px 0;
    background: linear-gradient(288deg, #101320 0%, #10121c 39%, #111111 100%);
    box-shadow: 200px -177px 186px 83px rgba(11, 12, 28, 0.86);
    -webkit-box-shadow: 200px -177px 186px 83px rgba(11, 12, 28, 0.86);
    -moz-box-shadow: 200px -177px 186px 83px rgba(11, 12, 28, 0.86);
  }
  .future .table__start-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 27px;
  }
  .future .table__start-conteiner button:nth-child(1)::after {
    width: 2px;
    height: 22px;
    top: 100%;
    left: calc(50% - 1px);
  }
  .future .table__start button::after {
    height: 143px;
    width: 2px;
    top: 100%;
    left: calc(50% - 1px);
  }
  .future .table__start button:nth-child(2)::after {
    height: 22px;
  }
  .future .table__center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 22px;
    margin-bottom: 57px;
    margin: 0 auto;
    gap: 30px;
  }
  .future .table__center::before {
    width: 162px;
    height: 139px;
    top: 0;
    z-index: 2;
    border-right-color: #414656;
    border-bottom: none;
    left: calc(50% - 81px);
  }
  .future .table__center button {
    color: #fff;
    position: relative;
  }
  .future .table__end {
    width: 334px;
    background: #101022;
    box-shadow: -200px 197px 142px 58px rgba(16, 16, 34, 0.83);
    -webkit-box-shadow: -200px 197px 142px 58px rgba(16, 16, 34, 0.83);
    -moz-box-shadow: -200px 197px 142px 58px rgba(16, 16, 34, 0.83);
    background: linear-gradient(36deg, #101022 0%, #14141a 33%, #111111 100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 24px 20px 60px 20px;
    text-align: center;
  }
  .future .table__end p {
    width: 227px;
    margin-bottom: 0px;
  }
  .future .table__end p::before {
    position: absolute;
    content: url("../images/main/future/Vector.svg");
    top: -74px;
    left: calc(50% - 33px);
  }
  .future .table__end-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 75px;
  }
  .future .table__end-conteiner button {
    color: #fff;
    position: relative;
  }
  .future .table__end-conteiner button::after {
    position: absolute;
    content: url(../images/main/future/VectorArr.svg);
    stroke: #414656;
  }
  .future .table__end-conteiner button:nth-child(1)::after {
    left: calc(100% - 5px);
    top: 268px;
  }
  .future .table__end-conteiner button:nth-child(2)::after {
    left: -5px;
    top: 219px;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@media screen and (max-width: 1300px) {
  .future__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .future__text {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .future__text {
    width: 100%;
  }
  .future__text-title {
    font-size: 35px;
    line-height: 120%;
  }
  .future__text-title span:nth-child(2) {
    background: -webkit-gradient(linear, left top, right top, color-stop(3%, #4b83ff), to(#6aaaff));
    background: linear-gradient(90deg, #4b83ff 3%, #6aaaff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .future__text p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=future.css.map */