.header {
  &__logo {
    box-shadow: 50px -163px 223px 83px rgba(11, 12, 23, 0.86);
    -webkit-box-shadow: 50px -163px 223px 83px rgba(11, 12, 23, 0.86);
    -moz-box-shadow: 50px -163px 223px 83px rgba(11, 12, 23, 0.86);
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    z-index: 6;

    &-list {
      @media screen and (max-width: 768px) {
        flex-direction: column;
        position: absolute;
        z-index: 5;
        height: 100vh;
        left: -1000px;
        top: 60px;
        width: 100%;
        gap: 30px;
        background: linear-gradient(
          to bottom,
          rgb(30, 30, 30) 0%,
          rgb(5, 5, 5) 99%
        );
        transition: left 0.4s;
        &.active {
          left: 0;
        }
      }
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        font-size: 18px;
        line-height: 21px;
        padding: 18px;
        box-shadow: 0px 0px 49px rgba(0, 0, 0, 0);
        transition: all 0.6s;
        border-radius: 10px;
        &::before {
          background: linear-gradient(
            140.6deg,
            #ffffff -27.18%,
            #dedede 126.06%
          );
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          padding: 14;
        }
        @media screen and (max-width: 768px) {
          padding: 10px 30px;
        }
      }
    }
    &-btn {
      padding: 18px 24px 18px 40px;
      background: linear-gradient(140.6deg, #ffffff -27.18%, #dedede 126.06%);
      font-weight: 600;
      color: #000;
      font-size: 20px;
      line-height: 24px;
      word-spacing: 8px;
      overflow: hidden;
      border-radius: 10px;
      transition: 0.5s;
      box-shadow: 0px 0px 49px rgba(38, 4, 227, 0.498) !important ;
      &::before {
        border-radius: 10px;
        background: linear-gradient(
          140.6deg,
          #506ec3 -27.18%,
          #162789 126.06%
        ) !important;
      }
      @media screen and (max-width: 768px) {
        padding: 10px 35px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 18px;
      }
      svg {
        transform: rotateZ(0deg);
        transition: 0.5s;
      }
      &:hover {
        svg {
          path {
            fill: #dedede;
          }
          transform: rotateZ(135deg);
        }
      }
    }
  }
  &__lines-btn {
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    @media screen and (max-width: 768px) {
      display: block;
      cursor: pointer;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 32px;
      height: 2px;
      transition: 0.5s;
    }
    &::before {
      top: calc(50% - 3px);
      right: 0;
    }
    &::after {
      top: calc(50% + 3px);
      right: 0;
    }
    &.active {
      &::before {
        transform: rotateZ(135deg);
      }
      &::after {
        transform: rotateZ(227deg);
        top: 12px;
      }
    }
  }
}
