.header {
  &__logo {
    box-shadow: -5px 60px 125px 43px rgba(89, 89, 89, 0.86);
    box-shadow: -5px 4px 125px 43px rgba(89, 89, 89, 0.53);
    background: rgba(47, 42, 42, 0.43);
    z-index: 6;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    z-index: 6;

    &-list {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-item {
      font-size: 18px;
      line-height: 21px;
      padding: 18px;
      border-radius: 10px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 14;
      }
    }
    &-btn {
      padding: 18px 24px 18px 40px;
      background: linear-gradient(140.6deg, #ffffff -27.18%, #dedede 126.06%);
      font-weight: 600;
      color: #000;
      font-size: 20px;
      line-height: 24px;
      word-spacing: 8px;
      border-radius: 10px;
      box-shadow: 0px 0px 49px rgba(38, 4, 227, 0.498) !important;
      svg {
        transform: rotateZ(0deg);
        transition: 0.5s;
      }

      @media screen and (min-width: 1024px) {
        &:hover {
          svg {
            path {
              fill: #dedede;
            }
            transform: rotateZ(135deg);
          }
        }
      }

      @media screen and (max-width: 1023px) {
        svg {
          display: none;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 18px;
      }
    }
  }
  &__lines-btn {
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      width: 32px;
      height: 2px;
      transition: 0.5s;
    }
    &::before {
      top: calc(50% - 3px);
      right: 0;
    }
    &::after {
      top: calc(50% + 3px);
      right: 0;
    }
    &.active {
      &::before {
        transform: rotateZ(135deg);
      }
      &::after {
        transform: rotateZ(227deg);
        top: 12px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__logo {
      box-shadow: 56px -3px 116px 36px rgba(89, 89, 89, 0.61);
    }
    &__menu {
      &-list {
        overflow-y: auto;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        height: 100vh;
        left: -1000px;
        top: 60px;
        width: 100%;
        gap: 30px;
        background: url("../images/header/meet/Vector.png") no-repeat,
          linear-gradient(178deg, rgb(10, 10, 10) 0%, rgb(2, 2, 2) 96%);
        padding-top: 50px;
        transition: left 0.4s;

        &.active {
          left: 0;
        }
      }
      &-item {
        padding: 10px 30px;
      }
      &-btn {
        padding: 10px 35px;
      }
    }
    &__lines-btn {
      display: block;
      cursor: pointer;
    }
  }
}
