@import "./variables.scss";
.meet {
  color: #fff;
  padding-top: 60px;
  background: url("../images/main/meet/Code.png") 45px 120px no-repeat,
    url("../images/main/meet/Vector.png") no-repeat;
  text-align: center;
  overflow-x: hidden;

  &__container {
    display: flex;
    gap: 90px;
    justify-content: space-between;
    margin-left: 10%;
  }
  &__text {
    text-align: left;
    overflow: hidden;
    &-decoration {
      font-weight: 500;
      font-size: 19px;
      line-height: 20px;
      text-transform: uppercase;
      color: #aaaaaa;
      position: relative;
    }
    &-title {
      margin: 30px 0;
      font-weight: 600;
      font-size: 96px;
      line-height: 90px;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
      span {
        display: inline-block;
        background: $light;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        position: relative;
        margin-right: 45px;
        &::before {
          position: absolute;
          content: "";
          width: 35px;
          height: 5px;
          background: linear-gradient(90deg, #73b5ff -1%, #c67aff);
          bottom: 10px;
          right: -60px;
        }
      }
    }
    &-subtitle {
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      padding-bottom: 90px;
      color: #e9e9e9;
    }
  }

  &__buttons-group {
    min-width: 585px;
    height: 435px;
    background: url(../images/main/meet/buttonsGroupDesk.svg) top right
      no-repeat;
  }
  &__button {
    &.mob {
      display: none;
    }
    display: inline-block;
    margin: 0 auto 75px auto;
    background: $primary;
    box-shadow: $primary__shadow;
    border-radius: 10px;
    padding: 17px 26px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    img {
      margin-left: 34px;
      padding: 15px 13px;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.7s;
    }
    &:hover {
      img {
        transform: rotateY(-180deg);
      }
    }
  }

  @media screen and (max-width: $screen__monitor) {
    &__container {
      margin-left: 5%;
      gap: 10px;
    }
    &__text {
      &-decoration {
        font-size: 19px;
      }
      &-title {
        font-size: 60px;
        line-height: 60px;
      }
    }
  }
  @media screen and (max-width: $screen__laptop) {
    &__container {
      flex-direction: column;
    }
    &__text {
      max-width: 100%;
      margin-right: 5%;
      text-align: center;
      &-title {
        line-height: 60px;
      }
      &-subtitle {
        padding-bottom: 40px;
      }
    }
    &__button {
      &.mob {
        display: inline-block;
      }
      &.desk {
        display: none;
      }
    }
  }
  @media screen and (max-width: $screen__phone) {
    &__text {
      &-decoration {
        font-size: 14px;
        line-height: 17px;
      }
      &-title {
        font-size: 52px;
        line-height: 60px;
        span {
          background: $blue-pink;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          &::before {
            background: linear-gradient(
              90deg,
              #d0b1e7 -1%,
              #b36ee7 51%,
              #bd66ff 99%
            );
          }
        }
      }
      &-subtitle {
        font-size: 18px;
        line-height: 140%;
      }
    }
  }
  @media screen and (max-width: $screen__phone-sm) {
    &__buttons-group {
      background: url(../images/main/meet/btnGroupMob.svg) top right no-repeat;
      min-width: 270px;
      height: 272px;
    }
  }
}
