.meet {
  color: #fff;
  padding-top: 62px;
  background: url("../images/header/meet/Code.png") 45px 119px no-repeat,
    url("../images/header/meet/Vector.png") no-repeat;
  text-align: center;
  &__conteiner {
    display: flex;
    gap: 92px;
    justify-content: space-between;
    margin-left: 10%;
  }
  &__text {
    text-align: left;
    &-decoration {
      font-weight: 500;
      font-size: 19px;
      line-height: 23px;
      text-transform: uppercase;
      color: #aaaaaa;
      position: relative;
    }
    &-title {
      margin: 30px 0;
      font-weight: 600;
      font-size: 96px;
      line-height: 90px;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
      span {
        display: inline-block;
        background: linear-gradient(
          89.95deg,
          #487fff -1.65%,
          #73b5ff 51.06%,
          #73b5ff 99.96%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        position: relative;
        margin-right: 40px;
        &::before {
          position: absolute;
          content: "";
          width: 35px;
          height: 5px;
          background: linear-gradient(
            89.95deg,
            #487fff -1.65%,
            #73b5ff 51.06%,
            #73b5ff 99.96%
          );
          bottom: 10px;
          right: -60px;
        }
      }
    }
    &-subtitle {
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      padding-bottom: 90px;
      color: #e9e9e9;
    }
  }

  &__buttons-group {
    background: linear-gradient(
        113deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(28, 28, 28, 0) 55%,
        rgba(5, 2, 18, 0.9051995798319328) 100%
      ),
      url(../images/header/meet/buttonsGroupDesk.svg) top right no-repeat;
    min-width: 586px;
    height: 435px;
    box-shadow: 200px 185px 221px 45px rgba(5, 2, 18, 0.66);
    -webkit-box-shadow: 200px 185px 221px 45px rgba(5, 2, 18, 0.66);
    -moz-box-shadow: 200px 185px 221px 45px rgba(5, 2, 18, 0.66);
  }
  &__button {
    &.mob {
      display: none;
    }
    margin: 0 auto 75px auto;
    background: linear-gradient(140.6deg, #3e6ff9 -27.18%, #3e53f8 126.06%);
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
    border-radius: 10px;
    padding: 17px 26px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 21px;
    transition: box-shadow 0.3s;
    img {
      margin-left: 34px;
      padding: 15px 13px;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.5s;
    }
    &:hover {
      background: linear-gradient(140.6deg, #506ec3 -27.18%, #506ec3 126.06%);
      box-shadow: 0px 0px 49px rgba(241, 241, 245, 0.4);
      img {
        transform: rotateY(180deg);
      }
    }
  }
  @media screen and (max-width: 1360px) {
    &__conteiner {
      margin-left: 5%;
      gap: 10px;
    }
    &__text {
      &-decoration {
        font-size: 19px;
      }
      &-title {
        font-size: 60px;
        line-height: 60px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    &__conteiner {
      flex-direction: column;
    }
    &__text {
      max-width: 100%;
      margin-right: 5%;
      text-align: center;
      &-title {
        line-height: 61px;
      }
      &-subtitle {
        padding-bottom: 40px;
      }
    }
    &__button {
      &.mob {
        display: block;
      }
      &.desk {
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__text {
      &-decoration {
        font-size: 14px;
        line-height: 17px;
      }
      &-title {
        font-size: 52px;
        line-height: 61px;
      }
      &-subtitle {
        font-size: 18px;
        line-height: 140%;
      }
    }
  }
  @media screen and (max-width: 480px) {
    &__buttons-group {
      background: url(../images/header/meet/btnGroupMob.svg) top right no-repeat;
      min-width: 270px;
      height: 272px;
    }
  }
}
